/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0; /* Remove margens padrões */
  padding: 0; /* Remove espaçamentos padrões */
  height: 100%; /* Faz com que o body ocupe 100% da altura */
  width: 100%; /* Faz com que o body ocupe 100% da largura */
  overflow: auto; /* Evita scroll desnecessário */
}

#app-root {
  height: 100%; /* Garante que o container do Angular ocupe a altura total */
  width: 100%;
  display: flex;
  justify-content: center; /* Centraliza conteúdo horizontalmente */
  align-items: center; /* Centraliza conteúdo verticalmente */
  background: linear-gradient(to right, #6a11cb, #2575fc); /* gradiente */
}
