<div class="login-container">
  <div class="login-form">
    <img src="../../assets/img/uninter.jpg" alt="Logo" class="logo" />
    <form (submit)="onSubmit()">
      <label for="username">Usuário</label>
      <input id="username" type="text" [(ngModel)]="username" name="username" required />

      <label for="password">Senha</label>
      <input id="password" type="password" [(ngModel)]="password" name="password" required />

      <button type="submit">Entrar</button>
    </form>
  </div>
</div>
